<%= render 'issues/li_show_partials/admin' %>
<div class="issues-section">
    <%= render 'issues/li_show_partials/issue' %>
</div>
<!-- <div class="list_of_answers well"> -->
  <%#= render 'issues/li_show_partials/answer_list' %>
<!-- </div> -->
<div class="answers-section well">
    <%= render 'issues/li_show_partials/issue_answer' %>
    <%= render 'issues/li_show_partials/submit_answer' %>
</div>
