
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Congrats <%= @answerer.username %>!</h1>
    <p>
      Your answer has been selected by <%= @issue_creator.username %> for "<%= @issue.title %>."<br/>
    </p>
    <p> You can view the issue <%= link_to "here", issue_url(@issue, :host => "www.handrai.se") %>.</p>
    <p><span>Sincerely,</span><br/>
      <span>Your friends at Handrai.se</span>
    </p>
  </body>
</html>
