
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Hi <%= @commentable_creator.username %>,</h1>
    <p>
      <%= @comment_creator.username %> has commented on your post! 
    </p>
    <blockquote><%= @comment.content %></blockquote>
    <p><span>Sincerely,</span><br/>
      <span>Your friends at Handrai.se</span>
    </p>
  </body>
</html>
