
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Hi <%= @issue_creator.username %>,</h1>
    <p>
      <%= @answer_creator.username %> has submitted a new comment or answer for 
      <%= issue_url(@issue, :host => "www.handrai.se") %>! <br/>
    </p>
    <p><span>Sincerely,</span><br/>
      <span>Your friends at Handrai.se</span>
    </p>
  </body>
</html>