// CSS for the user show page is here

.user_show {  
 margin: 0;
 width: auto;
}

.user_gallery_explain {
  padding: 20px;
  
  p {
    margin-right: 150px;
    font-size: 1.5em;
    line-height: 1.3em;
  }
}

.gallery-project-title-card {
  margin-top: 20px;
}

.user_gallery {
  h3 {
    color: #538187;
    text-align: center;
  } 

  .thumbnails {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.gallery-project {
  // background-color: #dbeaf4;
  // border: 2px solid white;
  height: 200px;
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  img {
    width: 175px;
    height: auto;
  }
  li {
    margin-bottom: 20px;
  }
}
 

.user_repo {

  background-color: #538187;
  h3, h5 {
    padding-left: 20px;
    color: white;

  }
  h4{
    line-height: 1.25em;
    a {
      color: #dbeaf4;
      text-decoration: none;
    }
    a:hover {
      color: #0E1A1C;
    }
  }
  li{
    list-style: none;
  }
  
}


.active_repo {
  color: #0E1A1C !important;
}

.right-push {
  margin-top: 50px;
  margin-left: 250px;
}

.blog-categories {
margin-top: 77px;

  li{
    list-style: none;
  }
  
}

.user-repo-icon {
  color: white;
  font-size: 32px;
  width: 20%;
  display: block;
  float: left;
  text-align: center;
}

.user-repo-url {
  width: 80%;
  display: block;
  float: left;
}

.user-repo-build {
  width: 20%;
  display: block;
  float: left;

}

.user-repo-url p.lead {
  padding-bottom: 0;
  margin-bottom: 5px;
}

.user-repo-build p.lead {
  padding-bottom: 0;
  padding-left: 5px;
  margin-bottom: 5px;
}

.blog-categories ul li .user-repo-url a {
  height: 33px;
  font-size: 1.5em;
  padding-top: 17px 10px 10px 10px;
}


