/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset_stylesheet
 *= require bootstrap
 *= require bootstrap_and_overrides
 *= require_tree
 *= require jquery-tablesorter/theme.bootstrap
 *= require jquery.countdown
 *= require custom
 *= require_self
 */

div.center p.splash {
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;
  color: rgb(177, 132, 103);
}

