/*div.answer-comments-container {
  display: none;
}

.new-issue-comment {
  display: none;
}


div.issues-nav {
  width: 306px;
  float: left;
  
}



span.issue-title {
  font-size: 30px;

}

img.up_arrow, img.down_arrow {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  opacity: .5;
}

img.up_arrow:hover {
  opacity: 1;
}

img.no-vote-owner:hover {
  opacity: .5;
}

img.down_arrow:hover {
  opacity: 1;
}

img.down_arrow {
  clear: both;
}

span.total_votes {
  clear: both;
  font-size: 25px;
  padding: 10px;
  float: left;
  text-align: center;
}
*/