<header id="header">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to image_tag("/assets/gitgallery.png"), projects_path, :class => "brand" %>
				<div class="nav-collapse subnav-collapse pull-right collapse" id="top-navigation">
				<%= render "layouts/navigation_bar_buttons" %></div>
			</div>
		</div>
	</div>
</header>
