<div class="center">

<h1>Signup!</h1>
<p>
Welcome to Handrai.se, where all your class concerns are answered.
</p>
  <div class="sign_in_form_container">
<%= render "form" %>
  </br>
  </br>
</div>
</div>
</div>
