<%= f.label :description, mark_required(upload, :description, :label => "Image Explanation"), class: "control-label shift-label-left" %>

<div class="controls shift-control-left">
  <%= f.text_area :description, :rows => "8", :class => "gg-upload-description", :placeholder => "Explain what your image shows" %>
</div>