<h4 id = "notice"><%= notice %></h4>
<div class="landing">
  <div class="span5">
    <h2><%= link_to "new organization",new_organization_path %></h2>
  </div>
  <div class="span5">
    <h2><%= link_to "login/signup",new_session_path %></h2>
  </div>
</div>