<html>
  <head>
    <title>grue</title>
  </head>
  <body bgcolor="#000000">
    <span style="color:#ffffff">
      It is pitch black. You are likely to be eaten by a grue.
    </span>
  </body>
</html>
