<html>
<head>
  <title>Huzzah!</title>
</head>
<body>
  Thanks for registering for the site! You joined us with this email: <%= @email %> <br />
  The next thing you should probably do is click <a href="/xyzzy">this link</a> to get started!
