<div class="inline-custom"> 
	<div class="container user_show">
		<div class="row-fluid span12">
	  	<div class="span8 float-custom-left">
	   		<div class="bs-docs-example">
	    		<%= show_projects(@user) %> <!-- this can be found in users_helper -->
	    	</div>
	    </div>
	    <div class="span3 float-custom-right">
	    <%= render :partial => "users/gallery/user_repos", :locals => { :page_user => @user } if @user == current_user %>
	    </div>
	  </div>
	</div>
</div>
