.gg-erb-button {
  color: white;
}
.gg-left-button {
  display: inline-block;
  float: left;
  margin-top: 5%;
  margin-left: 20%;
}
.gg-right-button {
  display: inline-block;
  float: right;
  margin-top: 5%;
}
.gg-button-options {
  margin-bottom: 10%;
}
.gg-form-section {
  display: inline-block;
  float: left;
}
.shift-label-left {
  left-margin: 100px;
}
.shift-control-left {
  width: 110px;
}
.gg-upload-description {
  width: 600px;
}
.feature-inline {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.feature-inline span {
  font-size: 30px;
}
.feature-card-title a {
color: white;
text-decoration: none;
border: none;
}
