.slide_container {
  height: 400px;
}

.features-slide {
  display: none;
  padding: 20px;
  padding-left: 70px;
  font-size: 17px;
  line-height: 24px;
  color: #005f6b;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feature_carousel {
  border: 3px solid #cb3120;
  height: 552px;
}

.features-slide.active {
  display: block;
}

.carousel {
  padding: 0;
  margin: 0;
}

div.feature-section {
  width: 100%;
  padding: 0;
  margin: 0;
}

.slide-content {
  color: white;
}

.sidebar {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 550px;
  width: 100%;
}

.carousel_sidebar,.feature_carousel {
  margin: 0;
  padding: 0;
}

.carousel_container {
  padding: 0;
}

.row-fluid .span8 {
  width: 70%;
  *width: 70%;
}

.row-fluid .span4 {
  padding: 0;
  margin: 0;
  width: 30%;
  *width: 30%;
}

.slide-snippet-header {
  font-weight: 400;
  text-align: center;
  color: #cb3120;
}

.snippet-description {
  color: white;
  background-color: #cb3120;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.snippet-description p {
  line-height: 1.3em;
  font-size: 1.3em;
  margin-top: 10px;
  margin-right: 200px;
}

.snippet-description strong {
  display: inline;
  font-size: 1.3em;
  font-weight: 400;
}

.slide-code-snippet {
  padding: 0, 20px, 0, 20px;
}

.slider-w .item {
  padding-top: 20px;
}

.misc-side {
  height: 250px;
  padding: 0;
  margin-top: 4%;
  margin-left: 6%;
}

.misc-side h4,.misc-side h5,.misc-side p {
  color: white;
}

.misc-side p {
  margin-left: 4%;
}

.misc-side ul li {
  list-style: none;
}

.misc-side ul li p {
  margin-left: -2%;
  line-height: .75em;
}

.sidebar-user {
  padding-top: 5%;
}

.demo-project {
  color: orange;
}

.demo-project:hover {
  text-decoration: none;
}



