.gg-code-snippet {
  width: 600px;
}

.gg-form-button {
  padding: 0px;
  margin: 0px;
  border: none;
  shadow: none;
  width: 200px;
}

.input[type="submit"] {
  background-color: #fff;
  color: #005f6b;
}


