<% if current_user == @user %>
  <h1>My Projects</h1>
  <h2>Welcome to your Gallery Page.</h2>

  <p class="lead">
    This page will eventually show off your projects. In order to create a project, please see the sidebar to the right which shows all available repos we found on your github page and choose one to get started. We will notify your github collaborators so they can participate.
    <br><br>
    You and your collaborators will be able to edit your project's basic information and create features that showcase your skills. There will be a slider that contains all features you and your collaborators have made for your project. Below this, there will be a slide carousel showing the explanation, code snippet or images associated with each feature. 
  </p>

  <div class="clearfix"></div>
  <h3>Tell your mates and show off your project!</h3>
  <h4 class="pull-right">The Git Gallery Team</h4>
<% else %>
  <h2><%= @user.name %> hasn't created any repos yet...</h2>
  <h3>Check back soon!</h3>
<% end %>