



<div class="section-wrapper">
  <h3 class="section-header">Your Projects</h3>

<div class="row project-row-custom">
<% @user.projects.each do |project| %>

  <div class="span4">
    <div class="white-card recent-post clearfix project-post-custom">
      <h5 class="recent-post-header">
        <a href="<%= project_path(project)%>"><%= project.name %></a>
      </h5>
      <div class="post-info clearfix">
  
      </div>
    <%= project_image(project) %>
  
  <p class="post-content separated"><%= project.description %></p>
  
  </div>
  </div>


<% end %>
  </div>
  </div>
