#layout_instructions {
  background-color: #e0e5fb;
  position: fixed;
  top: 26%;
  bottom: 3%;
  margin-left: 20%;
  width: 60%;
  overflow-y: hidden;
  overflow: scroll;
  p {
    padding: 0 5%;
    font-family: arial;
    font-size: 1.3em;
    line-height: 1.3em;
  }
}

#layout_instructions_caption {
  text-align: center;
}

#wellcome_message {
  width: 100%;
  position: fixed;
}
