.gallery-project {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gg-project-thumb img{
  height: 200px;
  width: 200px;
}

.gallery-project-title-card {
  background-color: 1F1D11;
}

.gallery-project-title {
  h4 {
    color: #0d0e69;
    padding: 4px; 
    margin-bottom: 5px;
  }
}

h3.project-index {
  color: #0E1A1C;
}