<div class="control-group">
	<%= f.label :code, mark_required(snippet, :code, :label => "Source Code"), class: "control-label" %>
	<div class="controls">
    	<%= f.text_area :code, rows: "8", :class => "gg-code-snippet", :placeholder => "Paste your code here" %>
	</div>
</div>