<div class="control-group">
    <%= f.label :description, mark_required(snippet, :description, :label => "Code Significance"), class: "control-label" %>
    <div class="controls">
    	<%= f.text_area :description, rows: "8", :class => "gg-code-snippet", :placeholder => "Explain your code here" %>
	</div>
</div>