<div class="control-group">
    <%= f.label :language, mark_required(snippet, :language), class: "control-label"%>
    <div class="controls">
    	<%= f.select :language, options_for_select([["", ""], ["Ruby", "ruby"], ["Python", "python"], ["JavaScript", "javascript"], ["CoffeeScript", "coffeescript"], ["CSS", "css"], ["HTML", "html"]]) %>
	</div>
</div>