
  <div class="center">
    <h1 class="splash">Raise Your Hand!</h1>
    <p class="splash">Welcome to Handrai.se, where all your class concerns are answered.</p>

  </br>

    <%= link_to "Get Started - It's Free", new_organization_path, :class => "btn starting" %>
  </div>

