<h3 class="slide-snippet-header"><%= snippet.name %></h3>
<div class="snippet-description">
  <strong>
    Snippet Description
  </strong>
  <p>
    <%= snippet.description %>
  </p>
  <p>
    <%= snippet.position %>
  </p> 

</div>

<div class="slide-code-snippet">
  <%= raw Pygments.highlight(snippet.code, lexer: snippet.language) %>
</div>