<ol class="breadcrumb col-md-4">
  <li><a href="/">Filters</a></li>
  <li><a href="/<%= filter %>"><%= filter.capitalize %></a></li>
  <% if filter_id %>
  <li><a href="/<%= filter_id %>"><%= filter_id %></a></li>
  <% end %>
</ol>