<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <link rel="stylesheet" href="">
  </head>
  <body>
    <% if !@matching_labs.empty? %>
    <!-- @matching_labs is an array of hashes -->
      <ul>
        <% @matching_labs.each do |lab| %>
          <li><%= lab.name["name"] %></li>
        <% end %>
      </ul>
    <% else %>
        Sorry, no labs to display.
    <% end %>
  </body>
</html>