<% if !@matching_labs.empty? %>
<!-- @matching_labs is an array of hashes -->
  <ul class="nav nav-pills nav-stacked">
    <% @matching_labs.each do |lab| %>
      <li><%= lab.name["name"] %></li>
    <% end %>
  </ul>
<% else %>
    Sorry, no labs to display.
<% end %>
