<% if !@matching_labs.empty? %>
<!-- @matching_labs is an array of hashes -->
  <div class="list-group col-md-6 text-center">
    <a class="list-group-item active">
      Labs
    </a>
    <% @matching_labs.each do |lab| %>
      <a class="list-group-item"><%= lab.name["name"] %></a>
    <% end %>
  </div>
<% else %>
    Sorry, no labs to display.
<% end %>
