<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flatiron Curriculizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/curriculum.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
  </head>
  <body class='background'>
    <%= partial 'partials/navbar' %>
    <%= flash_messages_partial(flash) %>

    <%= yield %>

    <%= partial :'partials/commits_list', :locals => { labs: @labs } %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toggle.js"></script>
  </body>
</html>