<% if !@tag_names.empty? %>
<!-- @tag_names is an array of arrays -->
  <ul class="list-group">
    <% @tag_names.each do |name| %>
      <li class="list-group-item"><a href="/<%= @tag %>/<%= name %>"><%= name %></a></li>
    <% end %>
  </ul>
<% else %>
  Sorry, no tag names to display.
<% end %>
