<% if !@tags.empty? %>
<!-- @tags is an array of arrays -->
  <div class="list-group col-md-4">
    <a class="list-group-item active">
      <h4>Filters</h4>
    </a>
    <% @tags.each do |tag| %>
      <a href="/<%= tag %>" class="list-group-item"><h4><%= tag %></h4></a>  
    <% end %>
  </div>  
<% else %>
    Sorry, no tags to display.
<% end %>