<% if !@tags.empty? %>
<!-- @tags is an array of arrays -->
    <a class="list-group-item active">
      Filters
    </a>
    <% @tags.each do |tag| %>
      <a href="/<%= tag %>" class="list-group-item"><%= tag %></a>
    <% end %>
<% else %>
    Sorry, no tags to display.
<% end %>