<% if !@tags.empty? %>
<!-- @tags is an array of arrays -->
  <ul>
    <% @tags.each do |tag| %>
      <li><a href="/<%= tag %>"><%= tag %></a></li>
    <% end %>
  </ul>
<% else %>
    Sorry, no tags to display.
<% end %>
