/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.datepicker
 *= require chosen
 *= require token-input-facebook
 */
p.static{
  width: 150px;
  margin:0;
  padding:0;
 }
 p.add_org{
  width: 150px;
  margin:0;
  padding:0;
 }
div.landing {
  text-align: center;
  margin: 0 auto;
}
div.chzn-container .chzn-results {
  max-height: 120px;
}
/*.left-side{
  float: left;
}*/

/*.no-tabs{
  margin-bottom: 23px;
}*/
div.create-group{
  float:right;
}

div.bigger, li.span3.bigger {
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
}
 div.center{
  padding:0 30%;
 }

div.bigger a{
  padding-top: 10px
}
div.bigger ul li {
  font-size: 20px;
}

div.accordion-inner {
  background-color: #EEE;
}

#collapseThree .accordion-inner{
  height: 250px;
}
body {
  padding-top: 80px;
}

span.greeting {
  padding-top: 20px;
  float: right;
  font-size: 25px;
  color: white;
}

li{
  list-style-type: none;
}

li.small a{
  font-size: 10px;
}

ul li.small {
    padding:5px;
    float: right;
    display: inline;
}

ul li.small a {
    color: #000
}

div.navbar-inner {
  background: rgb(97,95,117); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(97,95,117,1) 0%, rgba(95,107,128,1) 54%, rgba(181,174,196,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,95,117,1)), color-stop(54%,rgba(95,107,128,1)), color-stop(100%,rgba(181,174,196,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(97,95,117,1) 0%,rgba(95,107,128,1) 54%,rgba(181,174,196,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(97,95,117,1) 0%,rgba(95,107,128,1) 54%,rgba(181,174,196,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(97,95,117,1) 0%,rgba(95,107,128,1) 54%,rgba(181,174,196,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(97,95,117,1) 0%,rgba(95,107,128,1) 54%,rgba(181,174,196,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#615f75', endColorstr='#b5aec4',GradientType=0 ); /* IE6-9 */
}

a.accordion-toggle {
  background: rgb(95,107,128); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(95,107,128,1) 1%, rgba(170,178,192,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(95,107,128,1)), color-stop(100%,rgba(170,178,192,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6b80', endColorstr='#aab2c0',GradientType=0 ); /* IE6-9 */
}

th {
  color: black;
  background: rgb(95,107,128); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(95,107,128,1) 1%, rgba(170,178,192,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(95,107,128,1)), color-stop(100%,rgba(170,178,192,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(95,107,128,1) 1%,rgba(170,178,192,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6b80', endColorstr='#aab2c0',GradientType=0 ); /* IE6-9 */
}