<div class="container">
  <div class="row">
    <div class="span12">

      <div class="white-card just-white padded-white-card"> 

        <legend>
          What do you want on your first slide?
        </legend>
      
        <div class="span8">
          <p class="lead">
            You are making a slideshow. A slide can have either a snippet of code or an image, such as a screenshot, of your webpage in action. You are encouraged to provide a description on every slide so that viewers can understand what you did and how the slides are related. For examples of slides see below or click here for a full <%= link_to 'Demo Project', Project.find(1), :target => "_blank", :class => "demo-project" %>.
          </p>
        </div>
        <div class="clearfix"></div>
        

        <div class="controls gg-controls">
          <ul class="slideshow-button-list gg-offset-buttons">
            <li>
              <%= link_to "Upload an Image", new_feature_upload_path(@feature), :class => "btn btn-primary btn-extra post-btn"%>
            </li>
            <li>
              <%= link_to "Copy/Paste A Code Snippet", new_feature_snippet_path(@feature), :class => "btn btn-primary btn-extra post-btn"%>
            </li>
          </ul>
        </div>
        

      </div>

      <%= link_to "I'm Done Adding Slides", edit_feature_path(@feature), :class => "btn btn-primary btn-extra post-btn"%>
    </div>
  </div>
</div>


    



