<div class="issue-section">
  <%= render 'admin' %>
  <div class="issue-section" id="issue-<%= @issue.id %>">
    <%= render 'issue' %>
  </div>
  <% unless @issue.answers.present? %>
    <div class="no-answers row"> </div>
  <% end %>
  <div class="answers-section">
    <%= render 'issue_answers' %>
  </div>
</div>
