<div class="container contrib-contain">
  <div class="row">
    <div class="span12">
      <div id="contribs-slide">
        <% @project.users.uniq.each do |user| %>
          <div class="contrib">
            <%= link_to (image_tag avatar_url(user), title: "#{user.name}", rel: 'tooltip', class: "img-circle"), user_path(user) %><br>
            <i><%= user.name.split(" ").first %></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
