<h3 id="project-description">
<div>
  <div class="hero-inline">
      <%= best_in_place @project, :description, :type => :input, :activator => ".activator-#{@project.id}-description" %>
  </div>
  <i class="activator-<%= @project.id %>-description hero icon-pencil"></i>
</div>
</h3>
